body{
			font-family: 'Ubuntu', sans-serif;
		}

		h1{
			color: #f4511e !important;
		}
		.navbar, .back_vancouver{
			background-color: #272822;
		}

		.navbar li a, .navbar .navbar-brand {
			color: #fff !important;
		}
		.navbar-nav li.active a {
			color: #f4511e !important;
			
		}

		.navbar-toggle .icon-bar {
		    background-color: #f4511e !important;
		}

		.navbar-nav li a:hover{
			color: #f4511e !important;
			background-color: #fff !important;
		}

		.navbar-default .navbar-toggle, .text_white{			
			color: #fff !important;
		}

		.header-back{
			background: #000 url("../images/back_index_flip1.png");
			color: #fff;
		}		

		.header-contentX{
			padding: 150px 0;
		}

		.extra-margin{
			padding-top: 40px;
			padding-bottom: 100px;
		}

		.thumbnail {
			padding: 0 0 15px 0;
			border: none;
			border-radius: 0;
		}

		.thumbnail:hover{
			border: #f4511e 1px solid;
		}

		.thumbnail img {
			width: 100%;
			height: 100%;
			margin-bottom: 10px;
		}

		.footer{
			background-color: #272822;
			color: #fff !important;
			font-size: 10px;
			height: 40px;
			padding-top: 15px;
		}
		.footer p span{
			color: #f4511e !important;
		}

		.pagination{
			margin-left: 15px;
			margin-right: 15px;
			color: #000;
			text-decoration: none;

		}

		.pagination:hover{
			color: #f4511e !important;
			text-decoration: none;
		}
		/*.back_vancouver{
			background: #FFF url("public/images/back_vancouver.jpg") fixed no-repeat;
		}*/

		@keyframes slide {
		    0% {
		      opacity: 0;
		      transform: translateY(70%);
		    } 
		    100% {
		      opacity: 1;
		      transform: translateY(0%);
		    }
		  }
		  @-webkit-keyframes slide {
		    0% {
		      opacity: 0;
		      -webkit-transform: translateY(70%);
		    } 
		    100% {
		      opacity: 1;
		      -webkit-transform: translateY(0%);
		    }
		  }
		  @media screen and (max-width: 768px) {
		    .col-sm-4 {
		      text-align: center;
		      margin: 25px 0;
		    }
		    .btn-lg {
		        width: 100%;
		        margin-bottom: 35px;
		    }

		    .header-back{
				background: #272822 url("../images/back_index_flip3.png") no-repeat;
			}
		    
		    .header-contentX{
		        padding: 130px 0;
    			padding-left: 20px;
    		}

		  }
		  @media screen and (max-width: 480px) {
		    .logo {
		        font-size: 150px;
		    }
		  }